*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

.wrap {
    max-width: 1240px;
    margin: auto;
}

/* logo */
.logo{
    text-align: center;
    margin: 5px auto;
}

/* 橫幅 */
.content{
    background: url(../images/content-bg.jpg) no-repeat center;
    background-size: cover;
    padding: 45px 0 6% 0;
}

.lastest-catalog{
    text-align: center;
    padding: 8.5% 0;
}

.lastest-catalog a{
    color: #f76c4e;
    font-weight: 600;
    font-size: 24px;
}


h2{
    font-size:55px;
    color: #ffffff;
    margin-top: 220px;
    margin-bottom: 45px;
    text-align: center;
  }

.download-link {
    text-align: center;
}

.content p {
    font-size: 24px;
    font-weight: bold;
    color: #f76c4e;
    text-decoration: underline ;
    margin-bottom: 225px;
}

/* 產品 */
h1 {
    text-align: center;
    color: #4a4a4a;
    margin: 75px auto 50px auto;
}

.products .products-list li {
    width: 33.33333%;
    border: 1px solid #ebebeb;
    list-style: none;
    float: left;
}

.products .products-list li p {
    font-size: 22px;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    color: #4a4a4a;
    margin-top: 35px;
}

.products .products-list li:hover{
    border-color: #eb674a;
}


.products .products-list li img {
    max-width: 100%;
}


/* 公司簡介 */
.company-bg{
    background: url(./images/company-bg.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}



/* footer */
.footer li img{
      width: 25px;
      height: 25px;
  }

.text {
    text-align: center;
    padding: 230px 0;
}

.company p {
    font-size: 22px;
    line-height: 2;
}

 h3 {
     font-size: 32px;
     padding: 30px;
 }